.pc-card-cont {
  flex-shrink: 0;
  width: 272px;
  padding: 10px;
  border-radius: 6px;
  box-sizing: border-box;
  margin-right: 20px;
  font-size: 16px;
  background-color: #0000003d;
  cursor: pointer;
  & > h2 {
    font-size: 16px;
  }
}