* {
    margin: 0;
    padding: 0;
    user-select: none;
}

// mt0,mr0,mb0,ml0 --> mt100,mr100,mb100,ml100
@for $i from 0 through 100 {
    .mt#{$i} {
        margin-top: #{$i}px;
    }

    .mr#{$i} {
        margin-right: #{$i}px;
    }

    .mb#{$i} {
        margin-bottom: #{$i}px;
    }

    .ml#{$i} {
        margin-left: #{$i}px;
    }

    .pt#{$i} {
        padding-top: #{$i}px;
    }

    .pr#{$i} {
        padding-right: #{$i}px;
    }

    .pb#{$i} {
        padding-bottom: #{$i}px;
    }

    .pl#{$i} {
        padding-left: #{$i}px;
    }
}

$theme-first-color: #172b4d;
$theme-second-color: #5e6c84;


.cursor-pointer {
    cursor: pointer;
}