.pc-board {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding: 20px;
    box-sizing: border-box;
    height: 100vh;
    background: url(../../assets/bg3.jpeg);
    background-size: cover;
    overflow-y: hidden;
}