.board {
    padding: 8px;
    white-space: nowrap;
    .board-item {
        vertical-align: top;
        display: inline-block;
        padding: 8px;
        margin-right: 8px;
        width: 256px;
        max-height: calc(100vh - 16px);
        overflow-x: hidden;
        overflow-y: auto;
        background: skyblue;
        border-radius: 4px;
    }

    .board-add {
        vertical-align: top;
        display: inline-block;
        box-sizing: border-box;
        width: 256px;
        padding: 8px;
        background: rgba($color: #000000, $alpha: 0.3);
        border-radius: 4px;
    }
}