i.board-more-btns {
  display: inline-block;
  padding: 0 12px;
  margin: 0 5px 10px 10px;
  &::after {
    content: '';
    width: 4px;
    height: 4px;
    display: inline-block;
    box-shadow: 6px 0 0 0 #0800003d,
    12px 0 0 0 #0800003d;
    border-radius: 50%;
    background-color: #0800003d;
  }
  cursor: pointer;
}